# Ignore node_modules in the current root directory
/node_modules/

# Ignore node_modules in both frontend and backend
**/node_modules/

# Ignore environment-specific files
.env

# Ignore frontend-specific build artifacts
/frontend/build/

# Ignore test coverage results
/coverage/

# Ignore miscellaneous files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore postgres data
/postgres_data/
# ignore mongo data
/mongo-data/

