.easy {
  background-color: #d4edda; /* pastel green */
}

.medium {
  background-color: #fff3cd; /* yellow */
}

.hard {
  background-color: #f8d7da; /* red */
}

.clickable-cell {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s; /* Add a smooth transition effect */

  /* Add hover styles */
  &:hover {
      background-color: black; /* Set the background color on hover */
      color: var(--primary-color); /* Change the text color on hover */
  }
}

.clickable-cell:hover {
  color: #0056b3;
}



/* Define styles for the mini upvote box */
.mini-upvote-box {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 24px;
  padding: 0 10px;
}

/* Define styles for the upvote count */
.upvote-count {
    font-size: 14px;
}

/* Container for the upvote button */
.upvote-container {
  display: flex;
  align-items: center;
}

/* Upvote and downvote buttons */
.unvote-button {
  background-color: #ff4500; /* Reddit orange color */
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unvote-button:hover {
  background-color: #ff5700; /* Slightly darker orange on hover */
}

.unvote-button i {
  font-size: 18px;
  margin-bottom: 4px;
}

.upvote-button {
  background-color: #b1bec5; /* Reddit orange color */
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upvote-button:hover {
  background-color: #bec1c3; /* Slightly darker orange on hover */
}

.upvote-button i {
  font-size: 18px;
  margin-bottom: 4px;
}

/* Text label for upvote button */
.upvote-label {
  font-size: 12px;
}


/* Ensure that the content remains readable on smaller screens */
@media (max-width: 768px) {
    .upvote-container {
      flex-direction: column;
      align-items: flex-start; 
    }
    .mini-upvote-box {
      text-align: left; 
    }
}