.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-panel {
  flex: 2;
  padding: 10px;
}

.middle-panel {
  flex: 3;
  padding: 10px;
}

.right-panel {
  flex: 3;
  padding: 10px;
}

/* Video and control buttons */
/* Video */
.video-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ccc;
  align-items: flex-start;
}

.video-player {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  background-color: #000;
  border-radius: 20px;
  object-fit: cover;
}

/* control buttons */
.video-controls {
  display: flex;
  align-items: center;
  padding-top: 10px; 
  justify-content: center;
}

.video-controls button {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: var(--dark-accent-color); 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
}

.video-controls button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.video-controls button .red-icon {
  color: red; 
}

.video-controls button:not(:last-child) {
  margin-right: 10px;
}

/* Code editor */
.editor-container{
  height: 100%;
}

/* Chat */
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.chat-messages::-webkit-scrollbar {
  width: 5px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #888;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-messages p {
  margin-bottom: 10px;
}

.chat-form {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.chat-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.chat-form button {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: var(--dark-accent-color); 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
}

.chat-form button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

/* Participants */
.participants-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.participants-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.participants-list::-webkit-scrollbar {
  width: 5px;
}

.participants-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.participants-list::-webkit-scrollbar-thumb {
  background: #888;
}

.participants-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.participants-list p {
  margin-bottom: 10px;
}