
:root {
  --primary-color: #263238;
  --secondary-color: #37474F;
  --accent-color: #b0bec5;
  --dark-accent-color: #455a64;
  --incorrect-color: #e46578;
  --correct-color: #81c784;
  --input-color: #eceff1;
  --navbar-color: #37474f;
  --text-color: #b0bec5;
}

.text-accent-color {
  color: var(--accent-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: var(--primary-color);
  margin: 0; /* Remove default margin */
  font-family: 'Roboto', sans-serif; /* Apply a font family for the entire document */
}

h1 {
  text-align: center;
}

#question-list {
  margin-top: 20px;
}

form {
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  flex: 1;
  padding: 20px;
}

/* Style the right column (form and question display) */
#right-column {
  background-color: #f0f0f0;
}

#question-description {
  width: 300px;
  height: 150px;
  resize: both;
}

.top-label {
  vertical-align: top;
  margin-bottom: 5px;
}

.question-detail {
  text-align: left;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: center; /* Horizontally center the child */
  align-items: center; /* Vertically center the child */
  /* Add margin at the bottom to create space */
}

/* Style for Add new Question Form */
.create {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.question-header {
  text-align: center;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.editor-parent {
  flex-grow: 1;
}

.editor-container {
  padding: 0 !important;
  border: None !important;
  background-color: white !important;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* CSS for the Quill editor toolbar */
.ql-toolbar {
  position: unset;
  top: 0;
  background-color: var(--accent-color); 
  z-index: 1; 
  border: none;
  outline: none;
  border-radius: 10px 10px 0px 0px;
  
}

/* CSS for the Quill editor content area */
.ql-editor {
  border: none;
}

.ql-container {
  position: unset !important;
  height: 220px !important;
}

@media screen and (max-width: 768px) {
  .ql-container {
    height: 250px !important;
  }
  
}

.add-button {
  margin-top: 5px;
  position: absolute;
  background-color: var(--dark-accent-color);
}

.add-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* End of Style for the add new question form */

/* Style for the category multi-select dropdown */
.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.select-selected {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-selected:hover {
  background-color: #ccc;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-items div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.select-items div:hover {
  background-color: #ddd;
}

.select-items input[type="checkbox"] {
  margin-right: 10px;
}


/* Style for question table*/
.question-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for question table headers */
.question-table th {
  text-align: left;
  background-color: #f2f2f2;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

/* Style for table cells */
.question-table td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

/* Style for the delete button column */
.question-table .delete-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: var(--incorrect-color);
  text-align: center;
}

/* Style for delete icon */
.question-table .fas {
  font-size: 18px;
}

.category-options-container {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  max-width: 200px;
}

/* Style for table */
.table {
  background-color: transparent; /* or any other color you want */
}

.table-container {
  margin: 10px 60px;
  width: 90%;
}

/* Style for the table header */
.table-header th {
  background-color: var(--secondary-color); /* Set the background color */
  color: var(--accent-color); /* Set the text color */
  padding: 10px; /* Add padding for spacing */
}

/* Style for the table rows */
/* .table-row {
  background-color: var(--[--primary-color]-color);
  color: var(--accent-color);
} */

.clickable-cell {
  cursor: pointer; /* Change the cursor to a pointer on hover to indicate it's clickable */
  color: var(--accent-color);
  transition: color 0.3s; /* Add a smooth transition effect */

  /* Add hover styles */
  &:hover {
      background-color: var(--accent-color); /* Set the background color on hover */
      color: var(--primary-color); /* Change the text color on hover */
  }
}

/* Style for the delete button */
.delete-button {
  color: #B22222; /* Set the text color to red */
  cursor: pointer; /* Change the cursor to a pointer on hover to indicate it's clickable */
  transition: color 0.3s; /* Add a smooth color transition effect */
  width: 100%;

  /* Add hover styles */
  &:hover {
      color: var(--incorrect-color); /* Change the text color to a darker red on hover */
      background-color: var(--secondary-color);
  }
}

/* Style for question detail page */
.question-details {
  height: 750px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  overflow-y: auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Style the title */
.question-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the complexity and category */
.question-details p {
  margin: 5px 0px;
  color: var(--text-color);
  font-size: 18px;
  padding: 3px;
}

/* Style the description */
.card-description {
  margin-top: 10px;
  color: var(--text-color);
  overflow: auto;
  white-space: normal;
}

.card-description p, .card-description ul, .card-description li {
  line-height: 1.0;
  margin: 0px 10px;
}

/* Style the created date */
.question-btm-subtext {
  margin-top: 10px;
  font-style: italic;
  margin: 5px 0;
  color: var(--text-color);
  font-size: 16px;
  margin: 5px;
  padding: 3px;
}