/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
/* .home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
} */

@media screen and (max-width: 768px) {
  /* .home {
    display: block;
  } */
  
}

/* .questions {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.QuestionForm {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.QuestionDetails {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

} */
/* 
.question-list {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.question-list h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.question-list p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.question-list span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
} */


/* new question form */


label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

select.error {
  border: 1px solid var(--error);
}

.custom-arrow {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;
}


/* question list table */
.table-container {
  width: 100%;
  overflow: hidden;
}

.table-header {
  border-collapse: collapse;
  width: 100%;
}

.table-header th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.table-row td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.delete-button {
  cursor: pointer;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.clickable-cell {
  cursor: pointer;
  color: #007bff;
}

.clickable-cell:hover {
  color: #0056b3;
}

/* Quesiton details */
.question-details {
  height: 500px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.question-details h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-details p {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 0.5;
}

.question-details .question-btm-subtext {
  font-size: x-small;
  color: #777;
  text-align: center;
}

.card-description {
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.card-description img {
  max-width: 100%;
  margin-top: 8px;
}